<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-light">
          <tbody>
            <tr>
              <td>Profesor</td>
              <td>materia</td>
              <td>turno</td>
              <td>dia</td>
              <td>Aprovado - no Aprovado</td>
            </tr>
          </tbody>
          <tbody>
            <tr *ngFor="let af of arrayDatosAlum">
              <th>{{af.profesor}}</th>
              <th>{{af.materia}}</th>
              <th>{{af.turno}}</th>
              <th>{{af.dia}}</th>
              <th>
                <input type="checkbox" name="" id="">
                <input type="checkbox" name="" id="" style="margin-left: 103px;">
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>
